.header {
    height: 60px;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    position: fixed;
    border: 1px solid black;
}

.catImage {
    margin: 0 auto;
    display: block;
}

.postsList {
    height: 300px;
    overflow-x: scroll;
    width: 1024px;
    font-size: 14px;
    font-family: "Inter";
}